@import "./base/_core.styl"
@import "./base/_media.styl"
@import "./base/_animation.styl"

bgAccount = #00ACC1
bgTeam = #424242
viewColor = #eee

html,
body
  background-color bgAccount

.bg-view
  background-color viewColor !important
.bg-account
  background-color bgAccount !important
.bg-team
  background-color bgTeam !important
