.login-container
  md-divider
    margin-top 16px
    margin-left -16px
    margin-right -16px
  md-card-content
    padding-bottom 0
  .md-title
    margin-bottom 8px

.btn-account-new
  margin  0 -16px

@media (min-width: 600px)
  .login-container
    min-width 600px
  .login-container
    md-card
      max-width 400px
