html,
body
  width 100%
  height 100%
  overflow hidden

.text-center
  text-align center

.view-container
  overflow hidden
  position relative

.view
  position absolute
  overflow hidden

.view-container,
.view
  width 100%
  height 100%

.material-icons
  &.tiny
    font-size 1rem
  &.small
    font-size 2rem
  &.medium
    font-size 4rem
  &.large
    font-size 6rem

.circle
  border-radius 50%

.alert
  min-height 24px
  .message
    color rgb(233,30,99)

md-input-container.has-messages
  padding-bottom 2px

md-progress-linear
  position absolute
  top 0px
  right 0px
  left 0px

md-icon.material-icons
  &.tiny
    font-size 12px
    width 12px
    height 12px
  &.small
    font-size 16px
    width 16px
    height 16px
  &.medium
    font-size 36px
    width 36px
    height 36px
  &.large
    font-size 48px
    width 48px
    height 48px

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail
  z-index 999999

.md-button.md-icon-button.badge
  overflow visible
  span
    font-size 10px
    position absolute
    top -10px
    left 28px

md-dialog
  overflow hidden

md-progress-linear
  z-index 99999
