md-toolbar.channel-title.md-whiteframe-z2
  .md-toolbar-tools
    md-button.hide-gt-md.md-icon-button.md-primary.md-hue-2(aria-label="showSideNav",
    ng-click="vm.toggleSideNavOpen()")
      md-icon.medium menu
    h2
      span.channel-prefix #
      span general
    span.flex
    .tool-bittons
      md-button.md-icon-button.md-primary.md-hue-2.badge(aria-label="personCount")
        md-icon person_outline
        span 14
      md-button.md-icon-button.md-primary.md-hue-2(aria-label="search")
        md-icon search
      md-button.md-icon-button.md-primary.md-hue-2(aria-label="star")
        md-icon star_border
      md-button.md-icon-button.md-primary.md-hue-2(aria-label="more")
        md-icon more_vert
