md-toolbar.channel-title.md-whiteframe-z2
  .md-toolbar-tools
    md-button.hide-gt-md.md-icon-button.md-primary.md-hue-2(aria-label="showSideNav",
    ng-click="vm.toggleSideNavOpen()")
      md-icon.medium menu
    h2
      span.channel-prefix #
      span {{vm.channel.channel.name}}
    span.flex
    .tool-bittons
      md-button.md-icon-button.md-primary.md-hue-2.badge(aria-label="personCount")
        md-icon person_outline
        span 14
      md-button.md-icon-button.md-primary.md-hue-2(aria-label="search")
        md-icon search
      md-button.md-icon-button.md-primary.md-hue-2(aria-label="star")
        md-icon star_border
      md-button.md-icon-button.md-primary.md-hue-2(aria-label="more")
        md-icon more_vert
md-progress-linear.md-accent(md-mode="indeterminate", ng-show="vm.processing")
md-content.md-layout-column.flex
  md-content.md-layout.flex.channel-body(x-scrollbar)
    md-list.message-container.flex
      md-list-item.message.md-3-line(ng-repeat="item in vm.channel.channel.messages")
        img.md-avatar(ng-src="/assets/avatar/test.png")
        div.md-list-item-text.md-layout-column
          p.message-info
            span.user-name urainkyo
            small.create-time
              md-tooltip(md-direction="top") {{::item.createdAt | date:'yyyy/MM/dd HH:mm:ss'}}
              {{::item.createdAt | date:'HH:mm'}}
          h3 {{item.text}}
  .channel-footer
    form.md-whiteframe-z2.md-layout.message-form.layout-align-center(ng-submit="messageForm.$invalid ? null : vm.send()", name="messageForm", novalidate="", ng-class="{focus: vm.isInputMessageFocus}")
      div.md-layout
        md-button.launch.flex.md-accent.md-hue-3(aria-label="launch")
          md-icon.medium launch
      div.flex.md-layout
        textarea.text-message.flex(ng-model="vm.message.text", name="text", required, aria-label="message text", ng-enter="vm.send($event)",
        rows="1", msd-elastic, spellcheck="false", ng-focus="vm.isInputMessageFocus=true", ng-blur="vm.isInputMessageFocus=false")
  
