section.md-layout.flex
  md-sidenav.md-sidenav-left.md-whiteframe-z2.side-nav(md-component-id="sideNav",
  md-is-locked-open="$mdMedia('gt-md')", x-scrollbar)
    md-toolbar.md-hue-2.profile
      md-button.flex.md-layout.layout-align-center(ng-click="main.test()")
        span.team-name {{main.team.team.name}}
        div.md-layout.layout-align-center
          md-icon.state adjust
          span.user-name.flex {{main.user.user.username}}
    md-content.flex(x-scrollbar)
      md-subheader
        .md-layout.flex
          span.header-text チャンネル
          span.flex
          md-button.md-icon-button.md-accent.md-hue-1(aria-label="channelAdd",
          ng-click="main.openDialogNewChannel($event)")
            md-icon add_circle_outline
      ul.nav-menu
        li.md-layout(ng-repeat="channel in main.team.team.channels")
          md-button.flex 
            span.channel-prefix #
            {{channel.name}}
  ui-view.flex.md-layout-column.channel-view
